<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <title>List All Products</title>
  </head>

  <body>

    <!--not working yet-->

    <body class="bg-white py-5">
      <div class="container py-5">
        <div class="row">
          <div class="col-md-2 text-center">
            <p>
              <i class="fa fa-exclamation-triangle fa-5x"></i><br />Status Code:
              403
            </p>
          </div>
          <div class="col-md-10">
            <h3>Unauthorized Access</h3>
            <a class="btn btn-danger" href="/login">Login Page</a>
          </div>
        </div>
      </div>
    </body>
  </body>
</html>
