<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" />
    <title>Login Page</title>
  </head>
  <body>
    <!-- Header -->
    <header id="header">
      <a href="/index">Case Management System</a>
    </header>

    <div class="container">
      <form
        th:object="${user}"
        th:action="@{/login}"
        method="post"
        style="
          width: 400px;
          margin: 50px auto 25px;
          overflow: hidden;
          display: block;
        "
      >
        <h2 class="mb-0">Login</h2>
        <br />
        <div>
          <div
            th:if="${param.error}"
            style="text-align: center; color: red; font-weight: bold"
          >
            Bad Credentials
          </div>
          <fieldset style="font-weight: bold; margin-bottom: 15px">
            Username:
            <input
              id="username"
              type="text"
              th:field="*{username}"
              name="username"
              class="form-control"
              placeholder="Username"
              style="width: 100%; display: block; box-sizing: border-box"
            />
          </fieldset>
          <fieldset style="font-weight: bold; margin-bottom: 15px">
            Password:
            <input
              id="password"
              type="password"
              th:field="*{password}"
              name="password"
              class="form-control"
              placeholder="Password"
              style="width: 100%; display: block; box-sizing: border-box"
            />
          </fieldset>
          <br />
          <fieldset>
            <input
              type="Submit"
              value="Log In"
              class="btn btn-danger btn-block"
            />
          </fieldset>
        </div>
      </form>
    </div>
  </body>
</html>
